<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangshuo.stars.mapper.BlogMapper">

    <select id="getBlogList" resultType="com.fangshuo.stars.domain.Blog">
        select `id` id, `author_id` authorId, `publish_time` publishTime, `content`, `vote_num` voteNum from `blog`
    </select>

    <select id="save" parameterType="com.fangshuo.stars.domain.Blog">
        insert into blog(`id`, `author_id`, `publish_time`, `content`, `vote_num`)
        values (#{id}, #{authorId}, #{publishTime}, #{content}, #{voteNum});
    </select>

</mapper>
