<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangshuo.stars.mapper.FollowMapper">

    <update id="follow" parameterType="com.fangshuo.stars.domain.Follow">
        insert into follow(id, like_id, beliked_id, `follow _time`) values (#{id}, #{likeId}, #{belikedId}, #{followTime})
    </update>

    <update id="unfollow">
        delete from follow where like_id = #{likeId} and beliked_id = #{belikedId}
    </update>

    <select id="ifFollowed" resultType="com.fangshuo.stars.domain.Follow">
        select `id` id, `like_id` likeid, `beliked_id` belikedId, `follow _time` followTime from follow where like_id = #{likeId} and beliked_id = #{belikedId}
    </select>

</mapper>
