<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangshuo.stars.mapper.LikesMapper">

    <select id="getLikesListByUser" resultType="com.fangshuo.stars.resp.LikesListByUserResp">
        select t1.`id` id, `commentator_id` commentatorId, `blog_id` blogId, `comment_time` commentTime, `is_like` isLike
        from `likes` t1, `user` t2 where t1.commentator_id = t2.id and t1.commentator_id = #{userId} order by t1.comment_time desc;
    </select>

    <select id="save" parameterType="com.fangshuo.stars.domain.Likes">
        insert into likes(`id`, `commentator_id`, `blog_id`, `is_like`, `comment_time`)
        values (#{id}, #{commentatorId}, #{blogId}, #{isLike}, #{commentTime});

        update `blog` set
              <if test="isLike == true">vote_num = vote_num + 1</if>
              <if test="isLike == false">oppose_num = oppose_num + 1</if>
              where `blog`.id = #{blogId};
    </select>

    <select id="getLikesByUserAndBlog" parameterType="com.fangshuo.stars.domain.Likes" resultType="com.fangshuo.stars.domain.Likes">
        select * from likes where blog_id = #{blogId} and commentator_id = #{commentatorId}
    </select>

    <delete id="deleteByBlogId">
        delete from likes where blog_id = #{blogId}
    </delete>



</mapper>
