<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangshuo.stars.mapper.UserMapper">

    <select id="getUserList" resultType="com.fangshuo.stars.domain.User">
        select `id`, `username`, `name`, `password` from `user`
    </select>

</mapper>
